.footer {
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  padding: 24px 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
}

.logoSection {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  color: #111827;
}

.logoSection img {
  height: 42px;
}

.links {
  display: flex;
  gap: 32px;
}

.links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #4A5565;
  font-weight: 500;
}

.links a:hover {
  color: #111827;
}

.copyright {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #99A1AF;
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 12px;
  }

  .logoSection {
    justify-content: center;
  }
}
